
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Home</title>
    <link rel="stylesheet" href="~/blog/blog.css">
</head>
<body>
    <main>
        <section class="blog-post featured">
            <h2>Featured Blog Post</h2>
            <p class="date">Published on: September 13, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
            <a href="#">Read More</a>
        </section>

        <section class="blog-post">
            <h2>Recent Blog Post 1</h2>
            <p class="date">Published on: September 14, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
            <a href="#">Read More</a>
        </section>

        <section class="blog-post">
            <h2>Recent Blog Post 2</h2>
            <p class="date">Published on: September 15, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
            <a href="#">Read More</a>
        </section>
    </main>

  

    <script src="~/blog/blog.js"></script>
</body>
</html>

